/*
Taby
 */

#commentBox  {
  li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ddd
  }
}

.comment_form {
  padding: 10px;
  margin: 30px
}

.nav-tabs {
  border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: #772953;
  span.badge {
    background: #772953

  }
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none !important;
  color: #E95420 !important;
  background: transparent !important;
  span.badge {
  background: #E95420;
  }
}
.nav-tabs > li > a::after{
  content: "";
  background: #E95420;
  height: 2px;
  position: absolute;
  color:red;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
  span.badge {
    background: #E95420;
  }
}

.tab-nav > li > a::after {
  background: #E95420 none repeat scroll 0% 0%;
  color: #fff;
}

.tab-pane {
  padding: 15px 0;
}

.tab-pane.index.group{
  margin-top: -20px;
}


//company table
table.jobTable
{
    widht: 100%;

  th {
    padding: 10px;
    border: solid #E95420 1px;
    text-align: center;
    color: #E95420;
  }

  td {
    padding: 10px;
    border: solid  #772953 1px;
    color:#772953;
  }
}

//////
.panel-search
{
  cursor:pointer;
}
.form-control{
  width: 100%;
}

/*
GROUP
 */

.panel.panel-primary.index{
  margin-bottom:15px;
  background-color: white;
  padding:10px;
  box-shadow: 5px 5px 10px #888888;

  .panel-title.pull-left.group-name{
    font-size:30px;
  }

}

.fa.fa-trash-o{
  cursor:pointer;
}

.dropdown-service{
  cursor:pointer;
  text-align: center;
}

.notifi-panel{

  cursor: pointer;
  padding: 10px;
}
.thumbnail{
  border: solid #E95420 1px !important;
}